extends pages/_layout

block body
  
  #impress
    - w = 1200 + 80

    .step.slide(data-x=w*0)
      h1 React Animation Tactics.

    .step.slide.slide--demo(data-x=w*1)
      include pages/demos/fade-css-group
    
    .step.slide.slide--demo(data-x=w*2)
      include pages/demos/translate-in-group

    .step.slide.slide--demo(data-x=w*3)
      include pages/demos/modal-css-group

    .step.slide.slide--demo(data-x=w*4)
      include pages/demos/nth-child-delay-css-group

    .step.slide.slide--demo(data-x=w*5)
      include pages/demos/tr-child-delay-css-group


    //- .step.slide.slide--demo(data-x=w*2)
      include pages/demos/fade-css-group


  script(src='/vendor/impress.js')
  script.
    impress().init();

